@{
    ViewBag.Title = "About";
}
<main>
    <p>
     Snethemba started to attend at Siyabonga Day Care where we were watched and supervised teacher the whole day, from the age of two years up until the age of five years.
     I went to Zizameleni Primary School to do grade one up until grade four where i was participating in sport and choir.
     After I went to school at Theu-Theu Secondary School to do grade five til grade seven which was a most memorable phase in my life.
     Then i had to do grade eight up to twelve at Qhubulwazi combined school which was far from home but i had no choice because the subject i wanted were only found there.
     After matric, My life was hard because i had no financial support since i had no parents and i tried look for piece job but i had no luck.
     I had to pay CAO to continue studying, After receiving my matric result my cousin lend me five hundred to pay CAO with the grace of god I received an offer which was the only offer i had while my result are stunning but the cause for that was because of the late payment i made to CAO.
     Currently I am studying at DUT for a Dimploma in Information and Communication Technology in Business Analysis. I have hard times but with god by my side I will make it out without having worries.
    </p>
</main>