@{
    ViewBag.Title = "Home Page";
}

<main>
	<marquee>
	<h1>Welcome to Snethemba Sangweni's Portfolio</h1>
	</marquee>
	      
	<p>
		I am Snethemba Sangweni, who was born in Mpumalanga province in a small town called Volksrust.
		I am tense, passionate and extremely careful in my life.
		I like doing research about everything cause i am cautious about everything which makes it hard for others to fool me.
		i spend my energy on pushing away everyone who wanna love me coz i am trying to protect myself from being hurt or losing them once i have started to love them, in short i would say i am insecure.
		people if they don't know me they find it hard to conversate with me coz i rarely talk around unfamiliar faces.
		i am lonely and boring to some. I don't beg or ask for help if he needs one.
		In short, Snethemba like to be independent and loves to help others but some take advantage of that good heart of his but he is kinda tired of being used and rejected.
	</p>
</main>